@font-face {
    font-family: 'FenwickWoodtype';
    src: url(FenwickWoodtype.ttf) format(truetype);
}

html {
	height:100%;
}

body {
	background-image: url("https://s20.postimg.org/oysnmzn65/Wizorb_Background_Open_Book.jpg");
	background-size: 100vw 100vh;
	min-height: 100%;
}

h1 {
	color: white;
	font-family: FenwickWoodtype;
	font-size: 50px;
}

#subtitle {
  font-size: 1.5em;
	font-family: FenwickWoodtype;
}

button {
	font-family: FenwickWoodtype;
}

#quotes {
  position: relative;
	border: black solid 2px;
  height: 250px;
	width: 100%;
  padding: 10px 10px;
	margin: 0 auto;
}

#quote{
  position: absolute;
  top: 10px;
}

#author{
  position:absolute;
  bottom: 0;
  right: 20px;
}

#buttons {
  margin-top: 20px;
}

#signature {
  margin-top: 60px;
}

.container-fluid{
	position:fixed;
    top: 35%;
    left: 50%;
    width:48em;
    height:20em;
    margin-top: -10em; /*set to a negative number 1/2 of your height*/
    margin-left: -24em; /*set to a negative number 1/2 of your width*/
}


